{% extends "base.html" %}

{% block conteudo %}
    {% if editar %}
        <h1 id="titulo-cadastro">
            Editar Usuário
        </h1>
    {% else %}
        <h1 id="titulo-cadastro">
            Cadastro de Usuário
        </h1>
    {% endif %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }} <br/>
            {{ form.username(size=32) }} <br/>
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span> <br/>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }} <br/>
            {{ form.email(size=32) }} <br/>
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span> <br/>
            {% endfor %}
        </p>
        <p>{{ form.submit(id="salvar") }}</p>
        
    </form>
{% endblock %}
